body {font-family: Arial, sans-serif; margin: 0; padding: 0; background-color: #111; color: #fff;}
        header {background-color: #333; padding: 10px ; text-align: center; width: auto; max-width: 1200px; height: auto; overflow: hidden; position: relative; margin: 0 auto;}
        nav {background-color: #444; padding: 10px 0;text-align: center;}
        nav ul{margin: 0; padding: 0;list-style: none;}
        nav ul li{display: inline; margin-right: 20px;}
        nav a { color: #fff; text-decoration: none; margin: 0 15px; font-size: 20px; transition: color 0.3s ease; }
        nav a:hover { color: #000000; }
        section { padding: 40px 0; text-align: center; }
        footer { background-color: #333; padding: 20px 0; text-align: center; color: #ccc; }
        @media only screen and (max-width: 600px){ nav a { font-size: 16px;} section { padding: 20px 0; } footer { font-size: 14px; } }
        .slider { width: 300px; ; height: auto; overflow: hidden; position: relative; margin: 0 auto;}
        .slides {display: flex;  transition: transform 0.5s ease;}
        .slide { flex: 0 0 auto; width: 100%; height: auto; }
        .slide img { display: block;  width: 100%; height: auto; }    
        button {  position: absolute; top: 50%; transform: translateY(-50%); background: rgba(0, 0, 0, 0.5); color: #fff; border: none; padding: 10px; cursor: pointer; z-index: 1; }
        button.prev { left: 0;}
        button.next { right: 0;}
        .mosaic-container {display: grid; grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); grid-gap: 20px; }             
        .product { text-align: center;}
        .product img { width:200px; height: 200px; border-radius: 8px; }
        .product h3 { margin-top: 10px; }
        .product p {font-size: 14px; color: #888; }
        @media screen and (max-width: 768px) { .mosaic-container { grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); } }
        @media screen and (max-width: 480px) { .mosaic-container {grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));}}